<html>
    <head>
    </head>
    <body>
            <h1>
            <%=title%>
            </h1>
            <ul>
                <% list.forEach(function(li){ %>
                    <li><%=li%></li>
                <% }); %>
            </ul>
    </body>
</html>