<html>
    <head>
    </head>
    <body>
            hello from handlebars
            <ul>

                {{#each list}}
                    <li>{{this}}</li>
                {{/each}}
            </ul>
    </body>
</html>